<section class="flex-row-even text-white text-lg my-1 py-3 border-y-4 border-indigo-500">
  <a href="#" class="btn btn-bg btn-hover">All</a>
  <a href="#" class="btn btn-bg btn-hover">Kanto</a>
  <a href="#" class="btn btn-bg btn-hover">Johto</a>
  <a href="#" class="btn btn-bg btn-hover">Hoenn</a>
  <a href="#" class="btn btn-bg btn-hover">Sinnoh</a>
  <a href="#" class="btn btn-bg btn-hover">Hisui</a>
  <a href="#" class="btn btn-bg btn-hover">Unova</a>
  <a href="#" class="btn btn-bg btn-hover">Kalos</a>
  <a href="#" class="btn btn-bg btn-hover">Alola</a>
  <a href="#" class="btn btn-bg btn-hover">Galar</a>
  <a href="#" class="btn btn-bg btn-hover">Paldea</a>
</section>
