<section class="flex-row-even header-style">
  <a href="#" class="btn btn-bg">All</a>
  <a href="#" class="btn btn-bg">Kanto</a>
  <a href="#" class="btn btn-bg">Johto</a>
  <a href="#" class="btn btn-bg">Hoenn</a>
  <a href="#" class="btn btn-bg">Sinnoh</a>
  <a href="#" class="btn btn-bg">Hisui</a>
  <a href="#" class="btn btn-bg">Unova</a>
  <a href="#" class="btn btn-bg">Kalos</a>
  <a href="#" class="btn btn-bg">Alola</a>
  <a href="#" class="btn btn-bg">Galar</a>
  <a href="#" class="btn btn-bg">Paldea</a>
</section>
<app-pokemon-filter-nav></app-pokemon-filter-nav>
<app-pokemon-list></app-pokemon-list>
