<nav class="flex-row-even mx-56">
  <a class="icon normal" href="#"><img src="assets/normal.svg" alt="Normal Type"/>Normal</a>
  <a class="icon fire" href="#"><img src="assets/fire.svg" alt="Fire Type"/>Fire</a>
  <a class="icon water" href="#"><img src="assets/water.svg" alt="Water Type"/>Water</a>
  <a class="icon grass" href="#"><img src="assets/grass.svg" alt="Grass Type"/>Grass</a>
  <a class="icon flying" href="#"><img src="assets/flying.svg" alt="Flying Type"/>Flying</a>
  <a class="icon fighting" href="#"><img src="assets/fighting.svg" alt="Fighting Type"/>Fighting</a>
  <a class="icon poison" href="#"><img src="assets/poison.svg" alt="Poison Type"/>Poison</a>
  <a class="icon electric" href="#"><img src="assets/electric.svg" alt="Electric Type"/>Electric</a>
  <a class="icon ground" href="#"><img src="assets/ground.svg" alt="Ground Type"/>Ground</a>
  <a class="icon rock" href="#"><img src="assets/rock.svg" alt="Rock Type"/>Rock</a>
  <a class="icon psychic" href="#"><img src="assets/psychic.svg" alt="Psychic Type"/>Psychic</a>
  <a class="icon ice" href="#"><img src="assets/ice.svg" alt="Ice Type"/>Ice</a>
  <a class="icon bug" href="#"><img src="assets/bug.svg" alt="Bug Type"/>Bug</a>
  <a class="icon ghost" href="#"><img src="assets/ghost.svg" alt="Ghost Type"/>Ghost</a>
  <a class="icon steel" href="#"><img src="assets/steel.svg" alt="Steel Type"/>Steel</a>
  <a class="icon dragon" href="#"><img src="assets/dragon.svg" alt="Dragon Type"/>Dragon</a>
  <a class="icon dark" href="#"><img src="assets/dark.svg" alt="Dark Type"/>Dark</a>
  <a class="icon fairy" href="#"><img src="assets/fairy.svg" alt="Fairy Type"/>Fairy</a>
<!--  <a class="icon " href="#">Legendary</a>-->
</nav>
